//FONTS + IMPORTS
/*------------------*/
@import "_fonts";

//RESET
/*-----------------------------------------------------*/
* {
  box-sizing: border-box;
}

html, body  {
  line-height: 1.3;
  position: relative;
}
body {
  background: #ffffff;
  color: #A11956;
  font-family: 'Typ1451-Medium', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-size: 2em;
}
h2, h3 {
  font-size: 1.5em;
}

ol, ul {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

//SECTIONS
/*
  MEDIA QUERIES CASCADE: TOP TO BOTTOM
*/
/*-----------------------------------------------------*/
#screen {
  &_home {
    background-color: #f9c623;
  }
  &_call {
    background-color: #46b59d;
  }
  @media (min-width: 30.000em) { /* 480 */}
  @media (min-width: 38.125em) { /* 610 */}
  @media (min-width: 48.000em) { /* 768 */}
  @media (min-width: 64.000em) { /* 1024 */}
}
.wrapper {
  height: 100%;
  margin: 0 auto;
}
.section {
  padding: 0 5% 0;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  @media (min-width: 64.000em) { //1024
    padding: 0 15% 0;
  }
}
.header {
  display: flex;
  padding-top: 1em;
}
.logo {
  width: 30%;
  &__link {
    display: block;
  }
  &__graphic {
    width: 70%;
    height: auto;
  }
}
.menu {
  width: 100%;
  @media (min-width: 48.000em) { //768
    width: 70%;
  }
  @media (min-width: 64.000em) { //1024
  }
  &-list {
  margin: 0;
  padding: 0;
  text-align: left;
  @media (min-width: 48.000em) { //768
    text-align: right;
  }
  &__item {
    display: inline-block;
    font-family: 'PoplarStd', sans-serif;
    font-size: 0.813em;
    font-weight: lighter;
    padding: 0.625em 0.313em;
    text-align: center;
    @media (min-width: 48.000em) { //768
      font-size: 1.125em;
    }
    @media (min-width: 64.000em) { //1024
      font-size: 1.3em;
    }
  }
  &__anchor {
    color: #8a2451;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
      &:after {
        background: url('/static/images/menu-underline.png') no-repeat center center/ 80%;
        content: " ";
        display: block;
        margin: 0 auto;
        height: 0.8em;
        width: 3.0em;
      }
      &:active, &:hover, &:focus {}
      &:visited {}
    }
  }
}

.intro {
  color: #ffffff;
  &__title {
    font-size: 2.375em;
    line-height: 0.9;
    font-family: 'PoplarStd', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    @media (min-width: 48.000em) { //768
      font-size: 3.375em;
    }
    @media (min-width: 64.000em) { //1024
      font-size: 4.375em;
    }
    &--secondary {
      color: #8a2451;
      &:after {
        background: url('/static/images/menu-underline.png')  no-repeat center center/ 40%;
        content: " ";
        display: block;
        margin: 0 auto;
        height: 0.8em;
        width: 50%;
      }
    }
    &--highlight {
      color: #8a2451;
      font-family: 'Typ1451-Bold', sans-serif;
      display: block;
    }
    &--lead {
      color: #8a2451;
    }
  }
  &__subtitle {
    padding: 1em 15%;
    &--secondary {
      font-size: 1.250em;
      padding: 1em 15%;
    }
  }
  &__caption {
    color: #ffffff;
    font-size: 0.67em;
    font-family: 'dk_bocadilloregular', sans-serif;
    text-transform: uppercase;
    padding: 20%;
    @media (min-width: 38.125em) { /* 610 */
      font-size: 1em;
      padding: 25% 20%;
    }
    @media (min-width: 48.000em) { /* 768 */
      font-size: 1.2em;
      padding: 20%;
    }
    @media (min-width: 64.000em) { /* 1024 */
      font-size: 1.5em;
      padding: 15% 20%;
    }
    &--highlight {
      font-family: 'PoplarStd', sans-serif;
      font-size: 1.5em;
      font-weight: lighter;
    }
  }
}

.caption {
  padding-bottom: 5%;
  &__wrapper {
    background: url('/static/images/speach-bubble.png') no-repeat center center/ 100%;
    display: grid;
    width: 75%;
    height: auto;
    margin: 0 auto 5%;
    text-align: center;
  }
}

.content {
  text-align: center;
  @media (min-width: 64.000em) { //1024
    padding: 1em 0 0;
  }
  &-list {
    padding: 0 5%;
    text-align: center;
    &__item {
      list-style-type: none;
      margin: 1em 0;
    }
    &__link {
      color: #8a2451;
    }
    &__topic {
      display: block;
      font-family: 'Typ1451-Bold', sans-serif;
      font-weight: 700;
      padding: 1em 0;
      &--inline {
        display: inline-block;
      }
    }
    &__date {
      display: block;
      font-style: italic;
      padding: 0.5em 0;
    }
  }
  &__inner {
    width: 100%;
    margin: 0 auto;
    @media (min-width: 64.000em) { //1024
      width: 53.250em;
    }
  }
  &__hero-image {
    width: 100%;
    height: auto;
    @media (min-width: 64.000em) { //1024
      width: auto;
    }
  }
}
.sponsors {
  &-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    padding: 10% 5%;
    text-align: center;
    &__link {
      display: block;
    }
    &__item {
      list-style-type: none;
      place-self: center;
    }
  }

  &__thumbnail {
    width: 80%;
    height: auto;
    @media (min-width: 48.000em) { //1024
      width: 65%;
    }
  }
}

#nine_mobile {
  width: 55%;
}

.footer {
  background: #ffffff;
  border-top: 1px solid #ecedef;
  color: #a3a7ae;
  font-size: 0.812em;
  padding: 0 10%;
  overflow: auto;
  text-align: center;
  &__link {
    color: #363b41;
  }
}
